.page{
    height: 100vh;
    width: 100vw;
    overflow: auto;
}

.page .header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    background: black;
}
    .page .footer {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 10vh;
        background: black;
    }